


<form class="form-inline ml-0 ml-md-3" style="margin-left:7rem!important;"  asp-controller="Home" asp-action="Search" enctype="multipart/form-data">
    <div class="input-group input-group-lg">

        <input class="form-control form-control-navbar" name="name" type="search" placeholder="product name" aria-label="Search">
        <div class="input-group-append">

            <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>

    </div>
</form>